<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Explorer - Bucket</title>
</head>
<body>
    <header>
        <a href="/"><button>Home</button></a>
        <a href="/config/list"><button>Change configuration</button></a>
        <h1>S3 Explorer - Bucket</h1>
    </header>
    <% if (buckets) { %>
        <ul>
            <% buckets.forEach(bucket => { %>
                <% if (bucket.Name.length > 0) { %>
                    <% if (bucket.cacheReady) { %>
                        <li>
                            <%= bucket.Name %>
                            <a href="/bucket/<%= bucket.Name %>"><button>list</button></a>
                            <a href="/explore/<%= bucket.Name %>"><button>explorer</button></a>
                            <a href="/bucket/reache/<%= bucket.Name %>"><button>Refresh Cache</button>
                    <% } else { %>
                            <a href="/bucket/cache/<%= bucket.Name %>"><button>Download Cache</button></a>
                    <% } %>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No buckets found</p>
    <% } %>
</body>
</html>